{% extends "base.html" %}
{% load static %}
{% block title %}Book Page{% endblock title %}

{% block content %}
</br>
<div class="row">
    <div class="col-md-4">
        <image src="{% static book.cover_image.url %}" class="card-img-top">
    </div>
    <div class="col-md-8">
        <h1>{{ book.title }}</h1>
        <p>{{ book.description }}</p>
        <p>Author: {{ book.author }}</p>
        <p>Publication Year: {{ book.publication_year }}</p>
        <p>Publisher: {{ book.publisher }}</p>
        <p>Genre: {{ book.genre }}</p>
        <p>Avarage Rating: {{ book.avarage_rating }}</p>
        <p>Number of Ratings: {{ book.number_of_ratings }}</p>
        <p>ISBN: {{ book.isbn }}</p>
        <p>Created At : {{ book.created_at }} </p>
    </div>
</div>  
</br>
<div class="row">
    <div class="col-md-12">
        <h3>Reviews</h3>
        </br>
        <ul>
            {% for review in reviews %}
                <div class="card">
                    <div class="card-header">
                        <a class="nav-link active text-primary d-flex align-items-center" href="#">
                            <img src="{% static 'profile_pictures/default_profile_picture.jpg' %}" class="card-img-top" style="width: 40px; height: 40px; margin-right: 10px;">
                            <h4 class="mb-0">{{ review.user }}</h4>
                        </a>
                    </div>
                    <div class="card-body">
                        <p>{{ review.created_at }}</p>
                        <h5 class="card-text">{{ review.review_text }}</h5>
                        {% for star in review.stars %}
                            <span class="fa fa-star checked" style="color: orange;"></span>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            </br>
            <div class="card">
                <div class="card-header">
                    <a class="nav-link active text-primary d-flex align-items-center" href="#">
                        <img src="{% static 'profile_pictures/default_profile_picture.jpg' %}" class="card-img-top" style="width: 40px; height: 40px; margin-right: 10px;">
                        <h4 class="mb-0">{{ review.user }}</h4>
                    </a>
                </div>
                <div class="card-body">
                    
                    <form method="POST" action="#">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="review_text" class="form-label">Review</label>
                            <textarea class="form-control" id="review_text" name="review_text" rows="3"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="stars" class="form-label">Stars</label>
                            <select class="form-select" id="stars" name="stars">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    
                </div>
            </div>
        </ul>
    </div>

{% endblock content %}
