{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}
</br>
<div class="col-md-12">
    <div class="card">
        <div class="card-header text-center" style="font-size: larger;">
            New Book Review
        </div>
        <div class="card-body">
          <h5 class="card-title">This card will ad a new book review (in the future!)</h5>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</div>
</br>
<div class="row">
    {% if user.is_authenticated %}
        {% if books %}
            {% for b in books %}
            <div class="card" style="width: 18rem;">
                <image src="{% static b.cover_image.url %}" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">{{ b.title }}</h5>
                  <p class="card-text"> {{ b.description| truncatechars:150 }} </p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            {% endfor %}
        {% endif %}
    {% else %}
        <p>Welcome, guest!</p>
    {% endif %}
</div>
{% endblock content %}