{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}
</br>
{% if user.is_authenticated %}
<div class="col-md-12">
    <div class="card">
        <div class="card-body">
          <form class="d-flex" role="search" method="POST" action="{% url 'search' %}">
            {% csrf_token %}
            <input class="form-control me-2" type="search" name="query" placeholder="Search for books...">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        </div>
      </div>
</div>
</br>
<div class="row">
    {% if results %}
              {% for result in results %}
                  <div class="card" style="width: 18rem;">
                    <image src="{% static result.cover_image.url %}" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">{{ result.title }}</h5>
                      <p class="card-text"> {{ result.description| truncatechars:150 }} </p>
                      <a href=" {% url "book_detail" result.id %} " class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
              {% endfor %}
  </div>
    {% else %}
        {% if books %}
            {% for b in books %}
            <div class="card" style="width: 18rem;">
                <image src="{% static b.cover_image.url %}" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">{{ b.title }}</h5>
                  <p class="card-text"> {{ b.description| truncatechars:150 }} </p>
                  <a href=" {% url "book_detail" b.id %} " class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            {% endfor %}
        {% else %}
            <h1 class = "text-center">No Books Found</h1>

        {% endif %}
    {% endif %}
    
</div>


{% else %}

<div class = "col-md-6 offset-md-3 ">
  <h1 class = "text-center">Login</h1>
  </br>
  <form method="POST" action="{% url 'home' %}">
      {% csrf_token %}
      <form>
          <div class="mb-3">
            <input type="text" class="form-control" name = "user_name" placeholder = "User Name" required>
          <div class="mb-3">
              </br>
            <input type="password" class="form-control" name = "password" placeholder = "Password" required>
          </div>
          <button type="submit" class="btn btn-secondary">Login</button>
      </form>
  </form>

{% endif %}

{% endblock content %}